APP_ENV=development

API_GATEWAY_PORT=8080
USER_SERVICE_GRPC_PORT=9081
USER_SERVICE_GRPC_ADDR=localhost:9081

DATABASE_URL=postgres://postgres:password@localhost:5432/twitter_clone?sslmode=disable

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=twitter_clone
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_ADDR=localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

JWT_SECRET=replace_this_with_a_secure_secret